<strong>Hola, {{ provider }}</strong>
<p>Se registro un cancelamiento de horario, confirme los detalles abajo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Fecha/hora: </strong> {{ date }} <br />
  <br />
  <small>
    El horario esta nuevamente disponible para nuevos agendamientos.
  </small>
</p>
